<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    [includes/header]
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <article>
                        [01-introduction]
                    </article>
                    <article>
                        [02-discovering-the-standard-library]
                    </atricle>
                </div>
            </div>
        </div>
    </main>
    [includes/footer]
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/prism.js"></script>
    <script src="/js/app.js"></script>
    [includes/analytics]
</body>
</html>
